<!-- Sertifikalar Slider -->
<div class="s-testimonials">
    <div class="overlay"></div>

    <div class="row testimonials-header">
        <div class="col-full">
            <h1 class="h02">Certificates</h1>
        </div>
    </div>

    <div class="row testimonials">
        <div class="col-full testimonials__slider">
            <div class="testimonials__slide">
                <div class="item-folio">
                    <div class="item-folio__thumb">
                        <a href="https://i.hizliresim.com/pggjqa3.jpg" class="thumb-link" title="Linkedin Learning" data-size="1050x700">
                            <img src="https://i.hizliresim.com/pggjqa3.jpg" alt="Web Services">
                            <span class="shadow-overlay"></span>
                        </a>
                    </div>
                    <div class="item-folio__text">
                        <h3 class="item-folio__title">Web Services</h3>
                        <p class="item-folio__cat">Linkedin Learning</p>
                    </div>
                </div> <!-- end item-folio -->
            </div>

            <div class="testimonials__slide">
                <div class="item-folio">
                    <div class="item-folio__thumb">
                        <a href="https://i.hizliresim.com/epl96cb.jpg" class="thumb-link" title="Introduction to Prompt Engineering for Generative AI " data-size="1050x700">
                            <img src="https://i.hizliresim.com/epl96cb.jpg" alt="Linkedin Learning">
                            <span class="shadow-overlay"></span>
                        </a>
                    </div>
                    <div class="item-folio__text">
                        <h3 class="item-folio__title">Introduction to Prompt Engineering for Generative AI</h3>
                        <p class="item-folio__cat">Linkedin Learning</p>
                    </div>
                </div> <!-- end item-folio -->
            </div>

            <div class="testimonials__slide">
                <div class="item-folio">
                    <div class="item-folio__thumb">
                        <a href="https://i.hizliresim.com/e0n9kzz.jpg" class="thumb-link" title="Machine Learning Bootcamp" data-size="1050x700">
                            <img src="https://i.hizliresim.com/e0n9kzz.jpg" alt="Global AI Hub">
                            <span class="shadow-overlay"></span>
                        </a>
                    </div>
                    <div class="item-folio__text">
                        <h3 class="item-folio__title">Aygaz Machine Learning Bootcamp</h3>
                        <p class="item-folio__cat">AI Business School</p>
                    </div>
                </div> <!-- end item-folio -->
            </div>
        </div> <!-- end testimonials__slider -->
    </div> <!-- end testimonials -->
</div>
